@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./fonts.css);

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.monument {
  font-family: "Monument", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-before {
  position: relative;
  transition: all 0.3s ease;
}
.btn-before::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background-color: #eefbf5;
  z-index: -2;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.btn-before:hover::before {
  top: 0;
  left: 0;
}
